* {
    box-sizing: border-box;
}
body {
    background: rgb(101, 9, 199);
}
.container {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.4);
    border-radius: 2%;
    padding: 50px 10px;
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
ol {
    margin: 15px;
    text-align: left;
    font-size: 20px;
}
.link {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(198, 148, 244);
    border-radius: 50px;
    color: aliceblue;
}
img {
    width: 50%;
    height: 50%;
    border-radius: 60px;
}
li {
    padding-left: 20px;
}